---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { postUrl, getCurrentPosts } from "../plugins/utils";

const posts = await getCurrentPosts();
---

<DefaultLayout htmlTitle={SITE_TITLE} htmlDescription={SITE_DESCRIPTION}>
  <div class="page-home pt-20">
    {
      posts.map((post) => (
        <div class="post mb-6">
          <div class="post-header">
            <a class="post-title text-2xl" href={postUrl(post.slug)}>
              {post.data.title}
            </a>
          </div>
        </div>
      ))
    }
  </div>
</DefaultLayout>
