---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { getCurrentPosts } from "@/plugins/utils";
import { astroI18n } from "astro-i18n";
astroI18n.init(Astro);

const posts = await getCurrentPosts();
---

<DefaultLayout htmlTitle={SITE_TITLE} htmlDescription={SITE_DESCRIPTION}>
  <div class="page-home pt-20">
    {
      posts.map((post) => (
        <div class="post mb-6">
          <div class="post-header">
            <a class="post-title text-2xl" href={post.path}>
              {post.data.title}
            </a>
          </div>
        </div>
      ))
    }
  </div>
</DefaultLayout>
