---
import DefaultLayoutVue from "./vDefaultLayout.vue";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../consts";
import { astroI18n, l, t } from "astro-i18n";

type Props = { htmlTitle: string; htmlDescription: string };
const { htmlTitle, htmlDescription } = Astro.props;
---

<html lang={astroI18n.langCode}>
  <head>
    <BaseHead title={htmlTitle} description={htmlDescription} />
    {
      astroI18n.langCode === "en" && (
        <link
          href="https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap"
          rel="stylesheet"
        />
      )
    }
    <style>
      html[lang="en"] {
        font-family: Cairo;
      }
    </style>
  </head>
  <body>
    <DefaultLayoutVue client:load name={SITE_TITLE} homeURL={l("/")}>
      <Fragment slot="menu">
        <a class="main-menu-item" href={l("/")}>{t("Home")}</a>
        <a class="main-menu-item" href="/works">{t("Works")}</a>
        <a class="main-menu-item" href="/about">{t("About")}</a>
      </Fragment>
      <slot />
    </DefaultLayoutVue>
  </body>
</html>
